{% macro simple(title, hero='') %}
<div class="w-full max-w-80 h-full p-4 bg-gray-300 shadow-lg rounded-lg">
    <h3 class="text-xl font-semibold mb-2 text-center">{{ title }}</h3>
    {%- if hero -%}
        <img src="{{ hero }}" class="w-full h-auto mb-2 p-5" loading="lazy" />
    {%- endif -%}
</div>
{% endmacro %}

{% macro clickable(title, hero='', url='/') %}
<a href="{{ url }}" class="block w-full max-w-80 text-blue-500 hover:text-blue-700">
    {{ simple(title, hero) }}
</a>
{% endmacro %}