<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }} - TuxieTech</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}">
</head>
<body>
    {%- include "partials/plugins.njk" -%}

    <div class="hero-bg absolute top-0 left-0 w-screen overflow-clip">
        {%- if hero -%}
        {%- else -%}
            <img src="{{ '/assets/img/hero/rib-bit-hero.png' | url }}" class="w-full h-full object-cover">
        {%- endif -%}
    </div>
    <div class="flex flex-col min-h-screen bg-1-3-lesser px-4">
        {%- include "partials/header.njk" -%}

        <div class="flex flex-col xl:flex-row items-start">
            
            {%- if info or hero -%}
            <div class="xl:w-3/12 p-5 mx-auto container">
                {%- if hero -%}
                    <div class="mx-auto">
                        <img src="{{ hero }}" class="w-4/5 shadow-alpha" />
                    </div>
                {%- endif -%}
                {%- if info -%}
                    <div class="shadow-2xl bg-white mx-auto max-w-96rem p-5 prose">
                        {{ info }}
                    </div>
                {%- endif -%}
                <div>
                    {{ isMakecode }}
                </div>
            </div>
            {%- endif -%}
            

            <div class="{{ 'xl:w-10/12' if info or hero }} container mx-auto bg-white xl:mr-0 px-4 p-10 shadow-2xl">
                {%- if gitUrl and isMakecode -%}
                <div class="mx-auto max-w-96rem px-5 text-center bg-orange-100 font-bold">
                    <p>To use our extension for this module in <a href="https://makecode.microbit.org/" target="_blank">Makecode</a>, enter this URL in the extensions manager:</p>
                    <p><a href="{{ gitUrl }}" target="_blank">{{ gitUrl }}</a></p>
                </div>
                {%- endif -%}
                {%- if gitUrl -%}
                <div class="mx-auto max-w-96rem px-5 text-center bg-orange-100 font-bold">
                    <p>You can help improve this documentation! We accept contributions via <a href="{{ gitUrl }}" target="_blank">Github</a></p>
                </div>
                {%- endif -%}

                <div class="mx-auto max-w-96rem p-5 prose">
                    {{ content | safe }}
                </div>
            </div>
        </div>
        <div class="grow">&nbsp;</div>
        <footer class="footer sticky-footer text-gray-400 py-4 px-1 flex">
            <div class="ml-auto">Designed by <a href="https://johnvidler.co.uk/">John Vidler</a></div>
            <div>Built with <a href="https://www.11ty.dev/">Eleventy</a></div>
        </footer>
    </div>
    
</body>
</html>