:root {
	/* CSS HEX */
	--cherry-rose: #a30b37ff;
	--dusty-rose: #bd6b73ff;
	--periwinkle: #bbb6dfff;
	--light-sea-green: #2ca6a4ff;
	--white: #fcfcffff;

	--accent: #FF9A00;
	--link: #0066CC;
	--success: #C5E1A5;
	--light: #F2F2F2;
	--dark: #333333;
	--gray: #BDBDBD;

	--primary: var(--accent);
	--secondary: var(--dusty-rose);
	--tertiary: var(--periwinkle);

}