<footer class="footer sticky-footer text-gray-400 py-4 flex">
    <div class="ml-auto">Designed by <a href="https://johnvidler.co.uk/">John Vidler</a></div>
    <div>Built with <a href="https://www.11ty.dev/">Eleventy</a></div>
</footer>