<header class="lg:mx-auto my-5 px-6 py-4 w-full">
    <a class="noline" href="{{ '/' | url }}" class="mb-4">
        <h1 class="text-6xl lg:text-8xl font-bold">TuxieTech</h1>
    </a>
    <h2 class="white-label font-semibold">We make research technology accessible for everyone.</h2>

    {%- include "partials/navigation.njk" -%}
</header>