<nav class="mt-5">
    <ul class="flex flex-col md:flex-row justify-center gap-5">
        <li><a href="{{ '/' | url }}" class="white-label font-semibold p-1 text-lg">Home</a></li>
        <li><a href="{{ '/catalog/' | url }}" class="white-label font-semibold p-1 text-lg">Documentation</a></li>
        <li><a href="{{ '/people/' | url }}" class="white-label font-semibold p-1 text-lg">Who are we?</a></li>
    </ul>
</nav>